.siling{width: 686px;height: 311px;margin:136px auto 0 auto;}
.footer_btoom{color: #3c3c3c;}
.footer_dan{margin-top: 47px;}
.big_404{width: 100%;height: px;overflow: hidden;background: #fffefb;}
.footer_dan_zhong .footer_dan_zhong_ul1 li a:hover{color: #389c44!important;}
.footer_btoom a:hover{color: #389c44;}
.footer_btoom a{font-size: 14px;color: #a1a1a1;}
.footer_left ul li a:hover{color: #389c44;}

.footer_right span a:hover{color: #389c44;}