.danjian_zhong1{background: url(../img/pi_toubu.png) no-repeat;}

.pi_jijian{margin: 0 auto; width: 945px;height: 279px;background: url(../img/pi_border1.png) no-repeat;margin-top: 31px;}
.pi_input_right{float: right;}
.pi_input_left{float: left;}

.pi_danjian_zhong2_top2_left input{width: 260px;height: 37px;outline: none;background: #f9f9f9;border: none;border-radius: 4px;margin-top: 21px;
padding-left:15px ;margin-left: 5px;}
.pi_danjian_zhong2_top2_left label{font-size: 14px;color: #3c3c3c;display: inline-block;text-align: right;}
.pi_baise{width:998px;margin: 0 auto;background: #fff;border: 1px solid #e5e5e5;border-top: none;padding-top: px;overflow: hidden;}
.piliang_br{width: 100%;height: ;background: #fffefb;}
.pi_2{width: 980px;border-top: 1px solid #f9f9f9;/*background: yellow;*/margin: 25px auto 0 auto;overflow: hidden;padding-bottom: 30px;}
.anniu1{width: 100px;height: 38px;background: #f5f4f2;text-align: center;line-height: 38px;border-radius: 4px;box-shadow: 0px 2px 0px #dedede;
font-size: 14px;color: #3c3c3c;float: left;}
.anniu2{width: 100px;height: 38px;background: #f5f4f2;text-align: center;line-height: 38px;border-radius: 4px;box-shadow: 0px 2px 0px #dedede;
font-size: 14px;color: #3c3c3c;float: left;margin-left: 10px;}
.anniu3{width: 120px;height: 38px;background: #f5f4f2;text-align: center;line-height: 38px;border-radius: 4px;box-shadow: 0px 2px 0px #dedede;
font-size: 14px;color: #3c3c3c;float: right;}
.anniu{width: 980px;height: 40px;margin-top: 18px;}
.SOU{width: 230px;height: 36px;border: 1px solid #e5e5e5;border-radius: 4px;float: left;}
.SOU input{width: 190px;height: 34px;outline: none;border: none;}
.SOU img{padding: 0px 10px 0 10px;}
.sou_btn{width: 72px;height: 38px;background: #389c44;line-height: 38px;text-align: center;color: white;border-radius: 4px;float: left;font-size: 14px;}
.pi_sousuo{width: 980px;height: 38px;line-height: 38px;/*background: red;*/margin-top: 15px;}
.pi_sousuo_one{float: left; font-size: 14px; width: 90px;height: 36px;text-align: center;line-height: 38px;color: #fff;background: #f79e21;border-radius: 4px; }
.pi_sousuo_two{float: right; font-size: 14px; width: 90px;height: 36px;text-align: center;line-height: 38px;color: #fff;background: #d24b1b;border-radius: 4px; }
.pi_td2{width: 44px;}
.pi_td3{width: 100px;font-size: 14px;color: #3C3C3C;}
.pi_td4{width: 179px;font-size: 13px;color: #c3c3c3;}
.pi_td5{width: 172px;font-size: 14px;color: #3C3C3C;}
.pi_td6{width: 156px;font-size: 14px;color: #3C3C3C;}
.pi_td7{width: 178px;font-size: 14px;color: #3C3C3C;}
.pi_td8{width: ;}

.pi_tr1 td{font-size: 14px;color: #3c3c3c;font-weight: 500;cursor: pointer;}
.pi_tr1{height: 40px;background: #f5f4f2;}
.pi_table1 tr:not(.pi_tr1){height: 46px;}
.pi_table1{width: 1080px;height: 500px;}
.tab_box{width: 980px;height: 525px;overflow: scroll;overflow-y:hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 15px;}
.tab_box td{cursor: pointer;}

.pi_bottom{width: 980px;height: 20px;margin: 25px auto 0 auto;}


.footer_dan_zhong ul li a:hover{color: #389c44;}
.footer_btoom a:hover{color: #389c44;}
.footer_btoom a{font-size: 14px;color: #a1a1a1;}
.footer_left ul li a:hover{color: #389c44;}

.footer_right span a:hover{color: #389c44;}

.tab_box table tr:hover{background: #fafdf5!important;cursor: pointer;}